@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #fdfdfd;
}
@font-face {
    font-family:"Crayon" ;
    src: local("Crayon"),
    url('../src/assets/font/Crayon.ttf') format("truetype") ;
}

.primary-font{
    font-family:"Crayon", sans-serif;
}